<template name="filterTemplate">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar">

                <div class="btn-group">
                    <button class="btn btn-default {{#unless filter.end}}active{{/unless}}" type="button" id="show-old">Show old</button>
                </div>

                {{#if isCourseStaff}}
                    <div class="btn-group">
                        <button class="btn btn-default {{#if showAllActive}}active{{/if}}" type="button" id="show-all">Show all</button>
                        <button class="btn btn-default {{#if showUnreservedActive}}active{{/if}}" type="button" id="show-unreserved">Show unreserved</button>
                        <button class="btn btn-default {{#if showReservedActive}}active{{/if}}" type="button" id="show-reserved">Show reserved</button>
                    </div>
                {{/if}}

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle {{#if filter.round}}active{{/if}}" data-toggle="dropdown">
                        Show round {{#if filter.round}}({{getRoundName filter.round}}){{else}}(All){{/if}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="round-select" role="menu">
                        <li value=""><a href="#">All</a></li>
                        {{#each rounds}}
                            <li><a data-value="{{_id}}" href="#">{{name}}</a></li>
                        {{/each}}
                    </ul>
                </div>

                {{#if isCourseStaff}}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle {{#if filter.assistant}}active{{/if}}" data-toggle="dropdown">
                            Show assistant {{#if filter.assistant}}({{getUserName filter.assistant}}){{else}}(All){{/if}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="assistant-select" role="menu">
                            <li value=""><a href="#">All</a></li>
                            {{#each assistants}}
                                <li><a data-value="{{_id}}"href="#">{{username}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>
