<head>
    <!-- For bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Appointment scheduler</title>
</head>

<body>
    <div id="wrap">
        {{> navbar}}
        <div class="container">
            {{#if currentUser}}
                {{renderRouter}}
            {{else}}
                <h1>Login required!</h1>
                <p>Login through the menu in upper right corner to use this system</p>
            {{/if}}
            {{#with timeZoneInfo}}
                <!-- show warning if user's timezone doesn't match server's timezone -->
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Warning!</strong>The times are represented in your computer's local timezone (GMT {{local}}) but the appointments will be held using timezone GMT {{remote}}. Please set your computer clock to correct time and timezone to ensure that you reserve correct appointment slot!
                </div>
            {{/with}}
        </div>
    </div>

    <footer class="bs-footer" role="contentinfo">
        <div class="container">
            <p class="text-muted">&copy; Kimmo Ahokas 2014. In case of problems contact <a href="mailto:kimmo.ahokas@gmail.com">kimmo.ahokas@gmail.com</a>. Licensed under the <a href="http://opensource.org/licenses/MIT">MIT License</a>.</p>
        </div>
    </footer>
</body>
