<template name="manageAppointmentsTemplate">
    <div class="container">
        <div class="row">
            <div class="span8">
                <div id='manageCalendar'></div>
            </div>
            <div class="span4">
                <form id="appointment_defaults">
                    <fieldset>
                        <legend>Appointment creation settings</legend>
                        <p>
                            <!-- TODO: change this to round selection dropdown -->
                            <label for="name">Appointment name</label>
                            <input type="text" name="name" id="name_field" value="Round 1"/>
                        </p>
                        <p>
                            <label for="duration">Appointment duration (in minutes)</label>
                            <input type="number" name="duration" id="duration_field" min="0" step="1" value="20" />
                        </p>
                        <p>
                            <label for="space">Time between appointments (in minutes)</label>
                            <input type="number" name="space" id="space_field" min="0" step="1" value="5" />
                        </p>
                    </fieldset>
                </form>
                <form id="appointment_edit">
                    <fieldset>
                        <legend>Selected appointment details</legend>
                        <p>
                            <!-- TODO: Add fields to show assistant and studet -->
                            <!-- TODO: change this to round selection dropdown -->
                            <label for="selected_name">Appointment name</label>
                            <input type="text" name="selected_name" id="selected_name" disabled="disabled" />
                        </p>
                        <p>
                            <label for="selected_start">Start time</label>
                            <input type="datetime-local" name="selected_start" id="selected_start" disabled="disabled" />
                        </p>
                        <p>
                            <label for="selected_end">End time</label>
                            <input type="datetime-local" name="selected_end" id="selected_end" disabled="disabled" />
                        </p>
                    </fieldset>
                    <button id="update_appointment_button" type="button" disabled="disabled">Update appointment</button>
                    <button id="delete_appointment_button" type="button" disabled="disabled">Delete appointment</button>
                </form>
            </div>
        </div>
    </div> <!-- /.container -->
</template>
