<template name="manageAppointmentsTemplate">
    {{#if isCourseStaff currentUser._id selectedCourse.code}}
        {{> filterTemplate}}
        <div class="row">
            <div class="span8">
                {{#constant}}
                    <div id='manageCalendar'></div>
                {{/constant}}
            </div>
            <div class="span4">
                <ul class="nav nav-tabs">
                    <li {{#if isSelectedTab "manageAppointments"}}class="active"{{/if}} id="manage-appointments-tab"><a>Manage appointments</a></li>
                    <li {{#if isSelectedTab "manageRounds"}}class="active"{{/if}} id="manage-rounds-tab"><a>Manage rounds</a></li>
                </ul>

                {{#if isSelectedTab "manageAppointments"}}
                    {{> manageAppointmentTab}}
                {{/if}}

                {{#if isSelectedTab "manageRounds"}}
                    {{> manageRoundTab}}
                {{/if}}

            </div>
        </div>
    {{else}}
        <h1>Permission denied!<h1>
    {{/if}}
</template>

<template name="manageAppointmentTab">
    <div id="appointment-admin">
        <form id="appointment_defaults">
            <fieldset>
                <legend>Appointment creation settings</legend>
                <p>
                    <label for="round">Appointment round</label>
                    <select id="round">
                        <option value="">Select round...</option>
                        <option value="">-------</option>
                        {{#each rounds}}
                            <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </p>
                <p>
                    <label for="duration">Appointment duration (in minutes)</label>
                    <input type="number" name="duration" id="duration_field" min="0" step="1" value="30" />
                </p>
                <p>
                    <label for="space">Time between appointments (in minutes)</label>
                    <input type="number" name="space" id="space_field" min="0" step="1" value="0" />
                </p>
            </fieldset>
        </form>
        {{#with editedAppointment}}
            <form id="appointment_edit">
                <fieldset>
                    <legend>Selected appointment details</legend>
                    <p>
                        <!-- TODO: Add fields to show assistant and studet -->
                        <dl class="dl-horizontal">
                            <dt>Round</dt>
                            <dd id="round-title">{{title}}</dd>
                            <dt>Assistant</dt>
                            <dd id="assistant-name">{{getUserName assistant}}</dd>
                            <dt>Student</dt>
                            <dd id="student-name">{{getUserName student}}</dd>
                        </dl>
                    </p>
                    <p>
                        <label for="selected_start">Start time</label>
                        <input type="datetime-local" name="selected_start" id="selected_start" value="{{toDate start}}" />
                    </p>
                    <p>
                        <label for="selected_end">End time</label>
                        <input type="datetime-local" name="selected_end" id="selected_end" value="{{toDate end}}" />
                    </p>
                </fieldset>
                <div class="form-actions">
                    <button class="btn btn-primary" id="update_appointment_button" type="button" value="{{_id}}">Update appointment</button>
                    <button class="btn" id="delete_appointment_button" type="button" value="{{_id}}">Delete appointment</button>
                </div>
            </form>
        {{else}}
            <p>Click on appointment to edit it</p>
        {{/with}}
    </div>
</template>


<template name="manageRoundTab">
    <div id="round-admin">
        <form id="round-edit">
            <fieldset>
                <p>
                    <label for="edit-round-select">Round</label>
                    <select name="edit-round-select" id="edit-round-select">
                        <option value="">Select round...</option>
                        <option value="add">Add new round</option>
                        <option value="">-------</option>
                        {{#each rounds}}
                            <option value="{{_id}}" {{selected _id}}>{{name}}</option>
                        {{/each}}
                    </select>
                </p>
            </fieldset>
            {{#with currentRound}}
                <fieldset>
                    <p>
                        <label for="round-open">Round reservation opens</label>
                        <input type="datetime-local" name="round-open" id="round-open" value="{{toDate opens}}" />
                    </p>
                    <p>
                        <label for="round-close">Round reservation closes</label>
                        <input type="datetime-local" name="round-close" id="round-close" value="{{toDate closes}}" />
                    </p>
                    <p>
                        <label for="max-reservations">Maximum number of reservations per student</label>
                        <input type="number" name="max-reservations" id="max-reservations" min="1" value="{{max_reservations}}" />
                    </p>
                </fieldset>
                <div class="form-actions">
                    <button class="btn btn-primary" id="update_round_button" type="button" value="{{_id}}">Update round</button>
                    <button class="btn" id="delete_round_button" type="button" value="{{_id}}">Delete round</button>
                </div>
            {{else}}
                <p>Select round to edit it</p>
            {{/with}}
        </form>
    </div>
</template>
