<template name='reserveTemplate'>
    <div class="row">
        <div class="col-md-8">
            {{#constant}}
                <div id='reserveCalendar'></div>
            {{/constant}}
        </div>
        <div class="col-md-4">
            <h3>Appointment details</h3>
            {{#with selectedAppointment}}
                <dl class="dl-horizontal">
                    <dt>Round</dt>
                    <dd id="reserve-round-title">{{title}}</dd>
                    <dt>Student</dt>
                    <dd id="reserve-student-name">{{getUserName student}}</dd>
                    <dt>Date</dt>
                    <dd id="reserve-start">{{formatDate start}}</dd>
                    <dt>Time</dt>
                    <dd id="reserve-end">{{formatTime start}} - {{formatTime end}}</dd>
                    <dt>Location</dt>
                    <dd id="reserve-location">{{location}}</dd>

                </dl>
                <div class="form-actions">
                    <button class="btn btn-primary" id="reserve-appointment-button" type="button" value="{{_id}}" {{#unless canReserve editEnds}}disabled="disabled"{{/unless}}>Reserve appointment</button>
                    <button class="btn" id="cancel-appointment-button" type="button" value="{{_id}}" {{#unless canCancel editEnds}}disabled="disabled"{{/unless}}>Cancel appointment</button>
                </div>
            {{else}}
                <p>Click on apppointment to see it's details<p>
            {{/with}}
        </div>
    </div>
</template>
