<template name="selectCourse">
    <div class="row">
        <div class="span12">
            <h1>Select Course</h1>
            <table class="table">
                <thead>
                    <tr>
                        <td>Course name</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each courses}}
                        <tr>
                            <td><a href="{{urlFor 'course'}}">{{name}}</a></td>
                        </tr>
                    {{else}}
                        <tr>
                            <td>You are not currently rolled to any course. If you think this is an error, please contact the course staff in question.</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>
