<template name="selectRound">
    <div class="row">
        <div class="span12">
            <h1>Select Round</h1>
            <table class="table">
                <thead>
                    <tr>
                        <td>Round name</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each rounds}}
                        <tr>
                            <td><a href="{{urlFor 'reserve'}}">{{name}}</a></td>
                        </tr>
                    {{else}}
                        <tr>
                            <td>No appointment rounds available for reservation, check again later.</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>
