<template name="manageUsersTemplate">
    {{#if currentUser.admin}}
        <ul class="nav nav-tabs">
            <li id="add-users-tab" {{#if isSelectedTab "addUsers"}}class="active"{{/if}}><a>Add users</a></li>
            <li id="manage-users-tab" {{#if isSelectedTab "manageUsers"}}class="active"{{/if}}><a>Manage users</a></li>
        </ul>

        {{#if isSelectedTab "addUsers"}}
            {{> addUsersTab}}
        {{/if}}

        {{#if isSelectedTab "manageUsers"}}
            {{> manageUsersTab}}
        {{/if}}

    {{else}}
        <h1>Permission denied!<h1>
    {{/if}}
</template>

<template name="addUsersTab">
    <form id="addUsersForm">
        <fieldset>
            <legend>Add multiple users at once</legend>
            <div class="form-group">
                <label class="control-label">Course</label>
                <select class="form-control" id="course-select" name="course-select">
                    <option value="">Select course...</option>
                    {{#each myCourses}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Admin</label>
                <select class="form-control" id="admin-select" name="admin-select">
                    <option value="false">False</option>
                    <option value="true">True</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Assistant</label>
                <select class="form-control" id="assistant-select" name="assistant-select">
                    <option value="false">False</option>
                    <option value="true">True</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="multiple-users">users to be added</label>
                <textarea class="form-control" id="multiple-users" name="multiple-users" />
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" type="button" id="add-users-button">Add users</button>
            </div>
        </fieldset>
    <form>
    <p>Input users in format, each user in their own row:</p>
    <pre>
email, name
</pre>
    <p>The profile object can contain any data you want to add, but you can leave it out as well. Required fields are username, password and email. The indentation is not important.</p>

</template>




<template name="manageUsersTab">
    <p>Coming later...</p>
</template>
